h1 {
    color: red;
    font-size: 50px;
    font-family: courier,Arial;

}
h6 {
    font-size: 50px;
    color: blueviolet;


}
.main-text {
    color: blueviolet;

}

.big-text{
    font-size: 19px;
}