.upper-text{
    color: forestgreen;
}

.upper-lower-text{
    color: red;
}

.middle-text{
    color: blue;
}

.middle-text-2{
    color: blue;
}

.middle-text-3{
    color: forestgreen;
}

.bottom-text{
    color: forestgreen;
    font-size: 60px;
}