ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li{
    float: left;
    margin-right: 1%;
    margin-bottom: 1%;
}

.groen {
    display: block;
    background-color: green;
    color: black;
    width: 200px;
    height: 20px;
    text-align: center;
}

.geel {
    display: block;
    background-color: yellow;
    color: black;
    width: 200px;
    height: 20px;
    text-align: center;
}

.rood {
    display: block;
    background-color: red;
    color: black;
    width: 200px;
    height: 20px;
    text-align: center;
}

.blauw {
    display: block;
    background-color: blue;
    color: black;
    width: 200px;
    height: 20px;
    text-align: center;
}
