.titel{
    color: forestgreen;

}

.titel2{
    color: forestgreen;
}

.titel3{
    color: forestgreen;
}

.titel4{
    color: forestgreen;
}

.titel5{
    color: red;
}

.titel6{
    color: red;
}

.titel9{
    color: forestgreen;
}

.titel7{
    color: forestgreen;
}

.titel8{
    color: forestgreen;
}

.text{
    color: forestgreen;
    float: left;
}



.sneeuwtijger{
    padding: 5%;
    border: 5px solid;
}

.tijger{
    border-radius: 50%;
}