.titel, .titel2, .titel3, .titel4, .titel7, .titel8, .titel9{
    color: forestgreen;
}

.titel5, .titel6{
    color: red;
}

.text, .text2{
    color: forestgreen;
}

.sneeuwtijger{
    padding: 5%;
    border: 5px solid;
}

.tijger{
    border-radius: 50%;
    width: 150px;
    height: 100px;

}

.titel8 {
    position: relative;
    display: inline;
    float: right;
}

.titel7{
    display:block;
    float:left;
}

.sectie5{
    width:100%;
    margin:0 auto;
    display:inline-block;
    text-align:center;
}

.sectie3{
    position: absolute;
    top: 8px;
    right: 16px;
}

.titel3{

}