.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}

#home{
    background-color: red;
}

#diensten{
    background-color: blue;
}

#producten{
    background-color: purple;
}

#team{
    background-color: yellow;
}

#werkwijze{
    background-color: green;
}

#contact{
    background-color: pink;
}