body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

.HOME {
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.IMG-1{
    background-image: url("IMG/812.jpg") ;
}
.IMG-2{
    background-image: url("IMG/svj.jpg");
}
.IMG-3{
    background-image: url("IMG/jesko.jpg");
}
.IMG-4{
    background-image: url("IMG/720s.jpg");
}

.Grote-Tekst {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    color: white;
    font-weight: bold;
    font-size: 80px;
    border: 10px solid #f1f1f1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: auto;
    padding: 20px;
    text-align: center;
}

.navbar{
    overflow: hidden;
    background-color: #ff8530;
    display: flex;
    margin: 0 auto;
    padding: 10px 0;
    justify-content: center;
}

.navbar a{
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: background-color 0.5s, color 0.5s;
}

a:hover{
    background-color: black;
    color: white;
}

.navdrop{
    background-color: #ff8530;
    color: black;
    padding: 16px;
    font-size: 17px;
    border: none;
    transition: background-color 0.5s, color 0.5s;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: fixed;
    background-color: #ff8530;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: black;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ff8530;
    color: black;
    text-align: center;
}

.row{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column{
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img{
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

@media screen and (max-width: 800px){
    .column{
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px){
    .column{
        flex: 100%;
        max-width: 100%;
    }
}
